<!DOCTYPE html>
<html>
  <head>
    <title>Trings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
  </head>


  <h1>Welcome, this is the landing page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>This is where we will have a login and a link to create a new user or continue as a guest.</h2>
