<div>
  <h4>Comment by <%= comment.user.name %></h4>
  <p class="comment"><%= comment.body %></p>

  <p>Posted <%= distance_of_time_in_words(comment.city_gem.created_at, comment.created_at) %> ago</p>

</div>
