/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

 img {
   max-width: 200px;
   max-height: 200px;
 }

 .container {
  background-color:hsva(94, 10%, 93%, 0.74)
 }

 .main-heading {
   color: #f1f1f1;
   margin: 0 0 1.5em 0;
 }

 .img-fluid {


 }

 .landing-page, .sign-up-page {
   background: url(grant-ritchie-778666-unsplash) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .sign-up-page .main-heading {
   margin-bottom: 0.5em;
 }

 .sign-up-page p {
   color: #f1f1f1;
   margin-bottom: 3em;
 }

 .top {
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.landing-page .container, .sign-up-page .container {
  background-color:rgba(0, 0, 0, 0.8);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
  background-color:#eee;
}

.row li {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	text-align: center;
  border-radius: 0;
  margin: 1em;
  width: 30%;
}

.city-gems-index-page .container {
  border: none;
  box-shadow: none;
  background-color: inherit;
}


.container .box-header{

	margin-top: 0;
	border-radius: 10px;
  padding: 1em;
}

.container label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.container input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.container input:focus, a.submit:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.container input[type="submit"], .submit {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}

a.submit, a.submit:hover {
  text-decoration: none;
  color: white;
}

.container input[type="submit"]:hover, a.submit:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.container input[type="submit"]:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

ul {
  padding: 1em 0 3em 0;
  }

ul, .row {
  list-style-type: none;
}

ul li a, .row a {
    color: #888;
    font-size: 1.2em;
    line-height: 2em;
}

.row a:hover {
    color: #333;
    text-decoration: none;
}

.city-gem-item img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  float: none;
  display: block;


}
